<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= link_to "Send an Invite", "/invite" %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email %> </li>
    <li> Status: <%= current_user.status %> </li>
  </ul>
  <section id="bookmarks">
    <h1>Bookmarked Segments</h1>
      <% @bookmarks.each do |bookmark|  %>
        <%= bookmark.title %><br>
      <% end %>
  </section>

  <% if current_user.github_token.blank? %>
    <%= button_to "Connect to Github", github_login_path %>
  <% else %>
    <% if current_user.repos.length > 0 %>
      <section id="repos">
        <h1>GitHub Repositories</h1>
        <% current_user.repos.each do |repo| %>
          <%= link_to repo.name, repo.url  %><br>
        <% end %>
      </section>
    <% end %>

    <% if current_user.followers.length > 0 %>
      <section id="followers">
        <h2>Followers</h2>
        <% current_user.followers.each do |follower| %>
          <%= link_to follower.name, follower.url  %>

          <% if follower.database? && !current_user.friendships.include?(follower)%>
            <%= link_to "Add Friend", friendship_path(current_user, follower.name), method: :post %>
          <% end %><br>
        <% end %>
      </section>
    <% end %>

    <% if current_user.following.length > 0 %>
      <section id="following">
        <h2>Following</h2>
        <% current_user.following.each do |following| %>
          <%= link_to following.name, following.url  %>

          <% if following.database? && !current_user.friendships.include?(following) %>
            <%= link_to "Add Friend", friendship_path(current_user, follower.name), method: :post %>
          <% end %><br>
        <% end %>
      </section>
    <% end %>

    <% if current_user.friendships.length > 0 %>
      <section id="friends">
        <h2>Friendships</h2>
        <% current_user.friendships.each do |friend| %>
          <%= link_to friend.find_friend.first_name, friend.find_friend.url  %>
        <% end %>
      </section>
    <% end %>
  <% end %>
</section>
